body{ 
 background-image: linear-gradient(#c8d9ff,#abc1ff,#8fa9ff);
color: #292055;
font-size: 35px;
}

h1 { color: black;

}
h2
{  background-color: #4b69c5;

color:#292055;
}

img {
    width: 500px;
    height: 1000px;
}